body{
    width: 100%;

    display: flex;
justify-content: center;
align-items: center;
}
.btn-modern{
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
    background-color: green;
}
.btn-modern:hover {
    
    background-color: burlywood;
    color: whitesmoke;
    transition: 0.4s forwards ease;
    box-shadow: 10px 5px 10px black;
}
@keyframes traslacion {
    0%{
        
        transform: translateY(-5%);
        
    }
     }